:root {
  --shadow-color: 0deg 0% 0%;
  --left-shadow-elevation-low: 1px 1px 1.1px hsl(var(--shadow-color) / 0.31),
    1.5px 1.5px 1.6px -2.5px hsl(var(--shadow-color) / 0.21),
    5px 5px 5.3px -5px hsl(var(--shadow-color) / 0.1);
  --right-shadow-elevation-low: -1px 1px 1.1px hsl(var(--shadow-color) / 0.31),
    -1.5px 1.5px 1.6px -2.5px hsl(var(--shadow-color) / 0.21),
    -5px 5px 5.3px -5px hsl(var(--shadow-color) / 0.1);
  --middle-shadow-elevation-low: 0px 1px 0.8px hsl(var(--shadow-color) / 0.31),
    0px 1.5px 1.1px -2.5px hsl(var(--shadow-color) / 0.21),
    -0.1px 5px 3.8px -5px hsl(var(--shadow-color) / 0.1);
}

body {
  margin: 0;
  padding: 0;
  /* border:1px solid black; */
  /* font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(84, 84, 84); */
  /* background-color: rgb(228, 228, 228); */
}

.editor__name-section {
  /* border:1px solid black; */
  position: relative;
}

.editor__name-section-input input {
  width: 10rem;
  display: flex;
}

.editor__namelist {
  /* border:1px solid black; */
  height: 47.7rem !important;
  width: 1em;
  display: flex;
  flex-wrap: column;
  position: relative;
  float: left;
  margin: auto;
  left: -10.5vw;
}

.editor__namelist div {
  position: relative;
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.editor__namelist ul {
  display: relative;
}

.editor__namelist li {
  width: 7.5rem;
  height: 1rem;
  margin-left: -1.875rem;
}

.editor__v2 {
  /* border:5px solid black; */
  border: 1px solid lightgray;
  margin-left: 12.5vw;
  margin-top: 1.25rem;
  width: 52rem;
}

.editor__output {
  /* border:1px solid lightgray; */
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.938rem;
  height: 30rem;
  width: 52rem;
}

.editor__output .editor__output-content {
  margin-top: 0.625rem;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.editor__v2 h1 {
  text-align: center;
}

.editor__main-container {
  /* border:1px solid red; */
  background-color: white;
  display: flex;
  height: 8rem;
  width: 52rem;
}

.editor__main-container div {
  /* border:1px solid blue; */
  width: 26rem;
  height: 8rem;
}

.editor__main-container div h2 {
  /* border:1px solid purple; */
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.editor__main-container div input {
  border: none;
  border-bottom: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 2px;
  width: 19.5rem;
  border-radius: 0;
}

.editor__bottom-container {
  /* border:1px solid black; */
  border-top: 1px solid lightgray;
  height: 8rem;
  width: 100%;
  align-content: flex-end;
  text-align: center;
}

.editor__bottom-container h2 {
  /* border:1px solid black; */
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.editor__bottom-container input {
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: center;
  display: flex;
  margin-top: 2px;
  margin-left: 40px;
  width: 90%;
}

.editor__left-container {
  border: 1px solid black;
}

.editor__left-container input {
  position: relative;
  top: -50px;
}

.editor__right-container input {
  border: 1px solid black;
  position: relative;
  top: -50px;
}

.editor__left-name input,
.editor__right-name input {
  /* border:1px solid black; */
  height: 40px;
  box-shadow: none;
}

.editor__left-name input[type="text"] {
  text-align: left;
  padding-left: 10px;
  top: 10px;
}

.editor__right-name input[type="text"] {
  text-align: left;
  padding-right: 10px;
  top: 10px;
}
