body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.editor {
  margin: 10px;
  width:408px;
}

.editor__nameList {
  width: 406px;
  height:200px;
}

.editor__nameList ul li {
  padding:10px;
  margin:5px;
  list-style-type: none;
  width:120px;
  border-radius:15px;
  box-shadow:2px 5px 5px 2px rgba(0, 0, 0, 0.2)
}

.editor__nameList ul li:hover {
  font-weight: bold!important;
}



.editor form {
  margin-top:30px;
}

.editor__nameForm input {
  width:400px;
  height:30px;
  border-radius:15px;
  border: 1px solid black;
  text-align:center;
}

.editor__textForm {
  margin-top:20px;
  border:1px solid black;
  border-radius:15px;
  padding:15px;
  width:500px;
}

.editor__textForm input {
  min-width:403px;
  padding-top:2;
  padding-left:2;
  line-height:1em;
  border: none;

}

.editor__textForm input:focus {
  outline:none;
  
}

